* {
  * margin: 0;
  * padding: 0;
  * box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font: 13px Helvetica, Arial;
  }

#nickdiv {
  padding: 5px;
}

#nameform {
  padding: 5px;
}

h2 {
  padding: 5px;
}

#namebutton {
  background: rgb(130, 224, 255);
  border: none; 
  padding: 3px;
  border-radius: 2px;
}

#chatform {
    background: #000;
    padding: 3px 0px 3px 3px; 
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
  }

#chatform input {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 85%;
  }

#chatbutton {
    display: inline-block;
    width: 12%;
    background: rgb(130, 224, 255);
    border: none; 
    padding-top: 10px;
    padding-bottom: 10px;
  }

#messages {
    list-style-type: none;
    margin: 0; 
    padding: 0;
  }
  
#messages li {
   padding: 5px 10px;
  }
  
#messages li:nth-child(odd) {
    background: #eee; 
  }

