<h2>Chat Room</h2>

<div id="messageHolder">
<ul id="messages">
  {{#each messages as |message|}}
    <li>{{message.text}}</li>
  {{/each}}
</ul>
</div>

<form id="chatform" {{action "sendMsg" on="submit"}}>
  {{input placeholder="Type your message" value=newMsgBody}}
  <button type="submit">Send Message</button>
</form>

