<h2>Chat Room</h2>

<div class="message-box">
  {{#each messages as |message|}}
    <p>{{message.text}}</p>
  {{/each}}
</div>

<form {{action "sendMsg" on="submit"}}>
  {{input placeholder="Type your message" value=newMsgBody}}
  <button type="submit">Send Message</button>
</form>

